.calender {
  margin-top: 100px;
  display: flex;
  opacity: 1;
}
.active-side {
  opacity: 0.4;
}
#container {
  width: 480px;
  font-size: 0.9rem;
  margin-left: 3rem;
  float: left;
}
#container > h2 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#weekDic {
  font-size: 0.8rem;
}
.day {
  width: 11%;
  height: 80px;
  display: inline-block;
  padding: 5px;
}
.day-num {
  cursor: pointer;
}
.day-num:hover {
  background-color: rgba(255, 255, 255, 0.5);
  animation: color-change 0.3s ease-in-out forwards;
}
@keyframes color-change {
  0% {
    color: white;
  }
  100% {
    color: black;
    font-weight: bold;
  }
}
.today {
  border: 1px solid white;
}
.dic {
  display: inline-block;
  width: 11%;
  padding: 5px;
}
#controller {
  color: white;
  width: fit-content;
  height: fit-content;
}
#controller h3 {
  margin-bottom: 10px;
  font-size: large;
}
#controller > div {
  margin-bottom: 15px;
}
#controller .btn div {
  display: inline;
}
.year-month-container {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}
.year-month-container > div {
  width: 50%;
}
.btn {
  width: 100%;
  flex: 1;
  display: inline-flex;
  height: 40px;
  justify-content: space-evenly;
}
.btn > div > i {
  opacity: 0.6;
  transform: scale(1.8);
  cursor: pointer;
}
.btn > div > i:hover {
  opacity: 1;
}

#year {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 30px;
}
#bar {
  font-size: 2rem;
  display: inline;
}
#month {
  font-size: 2rem;
  display: inline;
}
#this-day {
  font-size: 4rem;
}
#date {
  font-size: 2rem;
}
