.close-btn {
  position: fixed;
  top: 48vh;
  right: 33.2vw;
}
.close-btn > i {
  color: white;
  font-size: 80px;
  cursor: pointer;
  opacity: 0.7;
}
.close-btn > i:hover {
  opacity: 1;
}

.sidebar {
  color: black;
  padding-top: 10vh;
  width: 35vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.15);
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.5s;
}
.active {
  right: 0;
}
.non-active {
  right: -35vw;
}
.sidebar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 100%;
}

.daylook_img {
  width: 10vw;
  height: 24vh;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  will-change: transform;
}
.daylook_img:hover {
  transform: scale(1.06);
}
.daylook-container_col {
  position: absolute;
}
.active .TOP {
  top: 20vh;
  animation: moveTotheLeft 0.7s linear forwards;
}
.active .BAG {
  animation: moveTotheLeft2 0.6s linear forwards;
  top: 35vh;
}
.active .PANTS {
  animation: moveTotheLeft 0.6s linear forwards;
  top: 45vh;
}
.active .SHOES {
  animation: moveTotheLeft 0.5s linear forwards;
  top: 70vh;
}

@keyframes moveTotheLeft {
  0% {
    right: 100%;
  }
  100% {
    right: 45%;
  }
}
@keyframes moveTotheLeft2 {
  0% {
    right: -20%;
  }
  100% {
    right: 13%;
  }
}
.sidebar-menu {
  position: absolute;
  right: 0;
  top: 8.5vh;
  width: 35vw;
  height: 8vh;
  background-color: rgb(240, 248, 255, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sidebar-menu > i {
  color: black;
  margin-right: 25px;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.8;
  will-change: transform;
}
.sidebar-menu > i:hover {
  transform: scale(1.15);
  opacity: 1;
}
