#dressInfo-screen {
  padding-top: 10vh;
  background-position: right;
  color: aliceblue;
  background-repeat: repeat;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 1;
}

.dressInfo-container {
  display: flex;
  justify-content: center;
}
