body,
html {
  background-color: black;
}
#main-screen {
  padding-top: 10vh;
  height: 90vh;
  width: 100vw;
  background-size: 80%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
